[project]
	description = GT-I9000B
[access "refs/*"]
	owner = group user/Bridge (htchoi1995)
[access "refs/for/refs/*"]
	read = group user/Bridge (htchoi1995)
	push = group user/Bridge (htchoi1995)
	label-Code-Review = -2..+2 group user/Bridge (htchoi1995)
	label-Verified = -1..+1 group user/Bridge (htchoi1995)
	rebase = group user/Bridge (htchoi1995)
	removeReviewer = group user/Bridge (htchoi1995)
	submit = group user/Bridge (htchoi1995)
[access "refs/heads/*"]
	read = group user/Bridge (htchoi1995)
	create = group user/Bridge (htchoi1995)
	push = +force group user/Bridge (htchoi1995)
	pushMerge = group user/Bridge (htchoi1995)
[access "refs/tags/*"]
	push = +force group user/Bridge (htchoi1995)
	pushTag = group user/Bridge (htchoi1995)
	pushSignedTag = group user/Bridge (htchoi1995)
